.container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.titles {
  font-size: 3rem;
  padding-top: 60px;
  padding-bottom: 60px;
}

.subtitles {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.badgeSection{
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sectionLabel{
    font-size: 1.5rem;
    padding-bottom: 50px;
}

.badgeGrid{
    width: 50%;
    align-self: center;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 50px;
    justify-content: center;
}

@media screen and (max-width: 1100px) {
  .subtitles {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .titles {
    font-size: 2.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .subtitles {
    width: 80%;
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .sectionLabel{
    font-size: 1rem;
    padding-bottom: 50px;
}
}